%h1 Add Boilmark
<b>Time</b> should be given in minutes and seconds like 9:36
%br
<b>Type</b> could be electric/gas/induction cooker/stove, 
%br
water boiler, microwave oven, an open fire or whatever
%br
you used to boil.
%br
In the <b>comment</b> field you can add info like radius 
%br
of the pot, Watts or whatever you like.
%form{:method=>"post", :action=>"/add"}
  %p
    .left
      Name:
    %input{:type=>"text", :name=>"name", :maxlength=>50}
    %br
    .left
      Email:&nbsp;
    %input{:type=>"text", :name=>"email", :maxlength=>50} 
    (will not be shown)
    %br
    .left
      Time:
    %input{:type=>"text", :name=>"time", :maxlength=>10, :style=>"width:45px"}
    %br
    .left
      Type:
    %input{:type=>"text", :name=>"type", :maxlength=>50}
    %br
    .left
      Brand & model:
    %input{:type=>"text", :name=>"brand_model", :maxlength=>50}
    %br
    .left
      Comment:
    %textarea{:cols=>'80', :rows=>'5', :name=>'comment'} 
    %a{:href=>"http://daringfireball.net/projects/markdown/basics"} Supports Markdown
    %br
    Second word on this page:
    %br
    %input{:type=>"text", :name=>"pwd", :maxlength=>50} 
    %br
    %br
    %input{:type=>"submit", :value=>" Add Boilmark "}
