%h1 The Boilmarks

- @boilmarks.each do |boilmark|
  .average
    %p== Name: #{boilmark['name']}
    %p== Time: #{boilmark['time']}
    %p== Seconds: #{boilmark['seconds']}
    %p== Date: #{boilmark['post_date']}
