%h1 Boilmarks
.presentation
  %h3 What
  Boilmarks is a simple way to benchmark how capable your boiler is to boil water.
  The idea is to measure the time it takes to bring 1l/33.8 fl oz of water from approximately 12C/53.6F to boiling.
  %br
  %br
  %h3 How
  Let the cold water flow for about a minute and then
  pour one liter of it into a suitable container and
  turn on the stove/micro/water boiler or whatever.
  %br
  Then simply measure the time it takes to get the water to boil.
  %br
  %br
  %h3 Why
  Because we can and because the idea somehow
  came up on a list at the end of last century.
  I also remember that I wondered if it really
  takes almost 10 minutes to boil some tea water 
  for everyone else out there.
  %br
  %br
  %a{:href=>'/boilmarks'} The Boilmarks
  %br
  %a{:href=>'/add'} Add Boilmark
  %br
  %br
  

