* {
  margin: 0;
  padding: 0;
}
 
body {
  font-size: 16px;
  font-family: Helvetica;
  padding: 1em;
}
 
a {
  color: black;
  background: #FEF0C9;
  text-decoration: none;
}

 
a:hover {
  background: #222;
  color: white;
}
 
a:active {
  text-decoration: underline;
}

.boilmarks {
  color: black;
  background: #EAFFEA;
  text-decoration: none;
  width:380px;
  margin:1px;
}

.left {
  color: black;
  text-decoration: none;
  width:100px;
  margin:1px;
}

.averagelink {
  color: black;
  background: #CAFFCA;
  text-decoration: none;
  width:100%;display:inline-block;margin-left:8px;margin-right:8px;
}

.external {
  color: black;
  background: #DFDFDF;
  text-decoration: none;
}
 
.contact {
  color: black;
  background: #B0C4DE;
  text-decoration: none;
  font-size:xx-small;
}

.presentation { width:500px; }
 
h1 {
  margin-bottom: 0.4em;
}
 
p {
  margin: 3px 0;
}
 
ul li {
  margin-left: 1em;
}
 
label {
  margin: 0 0 1em;
}
 
label, label span {
  display: block;
}
 
input[type="submit"] {
  cursor: pointer;
}
 
input[type="text"], textarea {
  font-size: 18px;
  padding: 2px;
  margin: 1px;
  width: 300px;
}
 
textarea {
  height: 200px;
  font-family: Courier;
}
 
.article {
  margin: 1em 0;
}
 
.article > div {
  margin: 0.4em;
}
 
.comments {
  margin-top: 1em;
}
 
.comments textarea {
  height: 200px;
}
 
#all {
  width: 600px;
  margin: 0 auto;
}
